.section__build {
  background-color: #012f34;
}
.build {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  // background-image: url(/rasmlar/build-right-bg.png);
  // background-repeat: no-repeat;
  // background-position: bottom right;
  background-color: #012f34;

  &__wrapper {
    display: flex;
    gap: 125px;
    padding-top: 140px;
  }

  &__line {
    width: 50px;
    height: 4px;
    background: #f67e7e;
    border: none;
    margin-bottom: 50px;
  }
  &__text {
    width: 445px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #ffffff;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 32px;
  }
  &__title {
    padding-bottom: 16px;
    max-width: 445px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #f67e7e;
  }
  &__texts {
    width: 445px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}

@media only screen and (max-width: 425px) {
  .build {
    max-width: 375px;
    width: 100%;

    &__wrapper {
      flex-direction: column;
      padding-top: 64px;
      gap: 56px;
    }

    &__line {
      margin-bottom: 32px;
    }

    &__text {
      width: 240px;
      font-family: "Livvic";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
    }

    &__box {
      flex-direction: column;
      padding-bottom: 48px;
    }

    &__title {
      padding-bottom: 8px;
      max-width: 327px;
      text-align: center;
    }

    &__texts {
      width: 327px;
      text-align: center;
    }
  }
}
