.section__compania {
  background-image: url(/rasmlar/deliver__bottom.png),
    url(/rasmlar/deliverr.png);
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}

.compania {
  // max-width: 1440px;
  background-color: #004047;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__title {
    padding: 140px 80px 56px 80px;
    // width: 932px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
  }
  &__green {
    color: #79c8c7;
  }
  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__pic {
    position: relative;
    top: 45px;
  }

  &__text {
    position: relative;
    z-index: 1000;

    padding: 25px 0 25px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;

    color: #ffffff;
  }
  &__name {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79c8c7;
  }
  &__work {
    padding: 2px 0 32px;

    font-family: "Livvic";
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
  }
  &__images {
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 425px) {
  .compania {
    &__title {
      padding: 140px 24px 48px 24px;
      font-size: 32px;
      line-height: 32px;
      text-align: center;
    }

    &__cards {
      flex-direction: column;
    }

    &__pic {
      top: 80px;
    }

    &__text {
      padding: 36px 0 16px;

      &__work {
        padding: 2px 0 16px;
      }

      &__images {
        padding-bottom: 48px;
      }
    }
  }
}
