.footer {
  background: #002529;

  &__wrapper {
    display: flex;
    gap: 125px;
    padding: 48px 0;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 25px;
  }
  &__link {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    &:hover {
      color: #f67e7e;
      transition: all 0.3s linear;
    }
  }

  &__links {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
  &__content {
    margin-left: 280px;
  }
  &__media {
    display: flex;
    gap: 16px;
    padding-bottom: 50px;
    padding-left: 150px;
  }

  &__text {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
}

@media only screen and (max-width: 425px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 96px;
      height: 24px;
      margin-left: 15px;
    }

    &__wrapper {
      flex-direction: column;
      align-items: center;
      padding: 66px 24px 64px 24px;
      gap: 24px;
    }

    &__list {
      gap: 24px;
      padding-top: 25px;
    }

    &__work {
      width: 327px;
      text-align: center;
    }

    &__content {
      width: 255px;
      margin-left: 0px;
    }

    &__media {
      margin-left: 34px;
      margin-bottom: 16px;
      padding: 0;
    }

    &__network{
      margin:0;
    }

    &__social{
      margin: 0;
      width: 24px;
    }

    &__text {
      width: 255px;
      text-align: center;
      mix-blend-mode: normal;
      opacity: 0.6;
    }
  }
}
