*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Livvic";
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;

  &__options
  {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    // padding: 0 15px;
    background-color: #012F34;
  }
}

@media only screen and (max-width:425px){
  .container{
    max-width: 375px;

    &__options{
      max-width: 375px;
    }
  }
}