.header {
  width: 100%;
  background-color: #014e56;

  padding: 73px 0 73px;

  .navbar {
    display: flex;
    align-items: center;

    &__burger {
      width: 20px;
      height: 18px;
      display: none;
      flex-direction: column;
      justify-content: space-between;

      hr {
        width: 20px;
        height: 3px;
        border: none;
        background-color: #ffffff;
        color: #ffffff;
      }
    }

    &__list {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-left: 80px;
    }
    &__bar {
      display: none;
    }

    &__link {
      font-family: "Livvic";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;
      &:hover {
        color: #f67e7e;
        transition: all 0.3s linear;
      }
    }

    &__btn {
      background: #014e56;
      border: 2px solid #ffffff;
      border-radius: 24px;
      margin-left: 577px;

      padding: 10px 33px 10px 33px;
      font-family: "Livvic";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;
      &:hover {
        background: #ffffff;
        color: #000;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .header {
    width: 375px;
    padding: 48px 0 80px;

    .navbar{
      justify-content: space-between;
      &__burger{
        display: flex;
      }

      &__list{
        display: none;
      }

      &__link{
        display: none;
      }

      &__btn{
        display: none;
      }
    }
  }
}
