.modal {
    transform: translate(50% ,50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2c6269;
  width: 255px;
  margin: 0 auto;

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__list {
    flex-direction: column;
    gap: 10px;
  }
  &__item {
    padding-right: 200px;
    padding-bottom: 36px;
  }
  &__btn {
    position: relative;
    // top: 50px;
    right: 320px;
     margin-bottom: 100px;
  }
  &__cress {
    margin-left: 200px;
    padding-top: 20px;
  }
}
