.about {
  background-color: #012a2f;

  background-image: url(/rasmlar/about__bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 170px;
  }

  &__title {
    max-width: 210px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: #ffffff;
  }

  &__right {
    margin: 60px 0;
  }

  &__hr {
    width: 50px;
    margin-bottom: 40px;
    border: none;
    height: 5px;
    background: #f67e7e;
  }

  &__text {
    max-width: 730px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
  }
}

@media only screen and (max-width: 425px) {
  .about {
    &__wrapper {
      flex-direction: column;
      gap: 16px;
    }

    &__title {
      width: 327px;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      padding-top: 30px;
    }

    &__right {
      margin: 0 24px 108px 24px;
    }

    &__text {
      max-width: 327px;
      font-size: 15px;
      line-height: 28px;
      text-align: center;
    }

    &__hr {
      display: none;
    }
  }
}
