.meet {
  background-color: #012a2f;
  background: url(/rasmlar/deliver__bg.svg), url(/rasmlar/about__left.png);
  background-repeat: no-repeat;
  background-position: bottom right, top left;


  &__title {
    padding-top: 144px;
    padding-bottom: 65px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 140px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    gap: 8px;
    width: 350px;
    height: 250px;
    background-color: #012f34;
  }
  &__img {
    padding-top: 30px;
  }
  &__name {
    padding-top: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #79c8c7;
  }
  &__work {
    padding-bottom: 14px;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 14px;
    padding-bottom: 8px;
  }
  &-aden {
    padding-top: 35px;
  }
  &__italic {
    width: 254px;
  }
}
